.footer-container {
    position: fixed;
    height: 120px;
    padding-top: 30px;
    width:100%;
    background-color: #161F28;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom:0%;
  }

  .footer-links {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content:left;
  }

  .copyrightDiv{
    width: 100%;
    max-width: 700px;
  }

  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 100%;
    max-width: 700px;
    margin: 0px;
  }
  
  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    margin-bottom:0px;
    padding: 24px;
    color: #242424;
  }
  
  .footer-subscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .footer-subscription-heading {
    margin-bottom: 0px;
    font-size: 24px;
  }
  
  .footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 0px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 0px;
  }
  
  
  
  .footer-link-wrapper {
    display: flex;
    margin-top: 0px;
    margin-left: 120px;
    margin-right: 1450px;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
    margin-bottom: 0px;
    color: #fff;
  }
  
  .footer-link-items > h2 {
    color: #fff;
  }
  
  .footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0px;
  }
  
  .footer-link-items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
  }
  
  .footer-email-form h2 {
    margin-bottom: 0px;
  }
  
  .footer-input::placeholder {
    color: #b1b1b1;
  }
  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
    
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    
  }
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    
  }
  
  .website-rights {
    color: #fff;
    margin-bottom: 0px;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }
  